* {
  direction: ltr;
}

img {
  height: 35%;
}

.fa:hover {
  color: blueviolet;
  cursor: pointer;
}

.card {
  margin: 0.5em;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0099f7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(67, 135, 223, 0.73);
}
